html{
  margin:0;	
  padding:0;
}

body{
  margin:0;
  padding:0;
}

a{ 
  color:black;
  text-decoration:none;	
}

a:hover{
  color:gray;
  text-decoration:none;	
}

.all_wrapper{
}

.main_header_wrapper{
  padding-top:5px;
}

.color_wrapper{
  background-color:#333;
  text-align:center;
}

.navigation_wrapper{
  background-color:black;
  color:white;
  margin:0;
  padding:3px;
}

.navigation_wrapper a{
  color:white;
}

.navigation_wrapper a:hover{
  color:gray;
}

.left_nav{
  display:inline-block;
  text-align:left;
  width:49%;
}

.right_nav{
  display:inline-block;
  text-align:right;
  width:49%;
}

.main_yield_wrapper{
  width:90%;
  margin:0 auto;
}

.page_header{
  text-align:center;
  margin:10px 0;
  font-size:30px;
}

.all_docs_wrapper{
  text-align:center;
}

.document_wrapper{
  vertical-align:top;
  display:inline-block;
  border:1px solid gray;
  padding:5px;
  width:128px;
  margin:0 3px;
  text-align:center;	
}

/******************* ADMIN - Users *******************/  

.controls_wrapper{
  margin:7px 0;
  font-size:12px;
}

.cool_layout{
  border-bottom:1px solid #ccc;
}

.cool_layout div{
  padding:12px 2px 12px 7px;
  display:inline-block;
  width:32%;
  margin:0;
}

.cool_layout_header{
  border-bottom:1px solid #999999;
  border-top:1px solid #999999;
  font-weight:bold;
  background-color: #eee;
}

.cool_layout_header div{
  padding-left:3px;
}
/******************* ADMIN - Users *******************/ 



