

<div class="page_header">
  Users
</div>

<div>

  <div class="controls_wrapper">
    <%= link_to 'New User', new_user_path %>
  </div>


  <div class="cool_layout cool_layout_header">
    <div>
      Name
    </div>
    <div>
      Username
    </div>
    <div>
      Email
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="cool_layout">
      <div>
        <%= link_to user.name, edit_user_path(user) %>
      </div>
      <div>
        <%= user.username %>
      </div>
      <div>
        <%= user.email %>
      </div>
    </div>
  <% end %>
  
</div>