<html>
<head>

</head>

<body>


<%= @sent_email.company_name %>,
<br/>
<br/>

You just signed up for the Document Deposit Box! Sign in and Start adding clients and documents by clicking <%= link_to 'here', @current_url %>:




</body>
</html>
