
<div class="page_header">
  Company Page - <%= @company.company_name %>
</div>

<div>
  <% if !current_user && !current_company %>
    <%= render 'sessions/new_user_form.erb' %>
  <% elsif current_company %>
  	Current Company
  <% else %>
    Current User
  <% end %>
</div>


